on:
  push:
    tags:
      - dev*
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set release version
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - uses: actions/setup-node@v3
      with:
        node-version: 14
    - run: sudo npm install -g tfx-cli
    - run: ./scripts/dev.sh
      env:
        PUBLISHER_TOKEN: ${{ secrets.PUBLISHER_TOKEN }}
